p {
	margin: 1em;
}

.flex-container {
	display: flex;
	justify-content: left;
	flex-flow: row wrap;
}

#logo > span {
	flex-grow: 1;
}

#logo > h1 {
	flex-grow: 9;
	font-size: 100px
}

#news > li > a {
	color: red;
}
