p {
	margin: 1em;
}

.flex-container {
	display: flex;
	justify-content: left;
	flex-flow: row wrap;
}

@media (min-width: 1300px) {
	.flex-container {
		flex-wrap: nowrap;
	}
}

#logo > span {
	flex-grow: 1;
}

#logo > h1 {
	flex-grow: 9;
	font-size: 100px;
}

#news > li > a {
	color: red;
}
