{% extends "base.html" %}
{% block metatitle %}{{ SITENAME }}{% endblock %}
{% block title %}{{ SITENAME }}{% endblock %}

{% macro get_icon_pub(link) %}

  {# Attempt to normalize link URLs #}
  {%- set temp = link|lower|replace('http://', '')|replace('https://', '')|replace('www.', '') -%}

  {# Choosing a specific link icon #}

  {%- if temp.startswith('arxiv.org') %}{% set class = 'ai-arxiv' %}
    <i class="ai {{ class }} ai-lg"></i>
  {% else %}
    {% set class = 'fa-external-link' %}
    <i class="fa {{ class }} fa-lg"></i>
  {% endif -%}
{%- endmacro -%}

{% block banner %}
<div class="container">
  <div id="logo" class="flex-container">
    <span class="site-name"><a class="navbar-brand" href="{{ SITEURL }}"><img width="310" src="{{ USER_LOGO_URL }}" class="attachment-full size-full" alt="logo"></a>
    </span><!-- end of .site-name -->
    <h1>Hey, I'm Adrián</h1>
  </div><!-- end of #logo -->

  	<div class="tagline">
  		<header class="entry-header page-header">
  			<h1 class="entry-title">Latest news</a></h1>
  		</header>
    </div>

    {% if NEWS %}
      <ul id="news">
      {% for new in NEWS %}
        <li><time>[{{ new['date'] }}]: </time>{{ new['description'] | markdown | trim }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    <div class="tagline">
      <header class="entry-header page-header">
        <h1 class="entry-title">Publications</a></h1>
      </header>
    </div>

    {% if PUBLICATIONS %}
      <ul id="pubs">
      {% for pub in PUBLICATIONS %}
        <li><time>[{{ pub['date'] }}]: </time><a href="{{ pub['link'] }}">{{ pub['title'] }}{{ get_icon_pub(pub['link']) }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}

  	<div class="tagline">
  		<header class="entry-header page-header">
  			<h1 class="entry-title">Blog</a></h1>
  		</header>
    
        {% if TAGS_URL %}
          {% for tag, articles in tags|sort %}
            <a href="{{ SITEURL }}/{{ tag.url }}" {{ 'class="active"' if  output_file == tag.url }}>{{ tag }} ({{ articles|count }})</a> &#124; 
          {% endfor %}
        {% endif %}
        {% if ARCHIVES_URL %}
            <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}" {{ 'class="active"' if  output_file == ARCHIVES_URL }}>{{ 'Archives ('+ articles|count|string + ')' if  articles|count > all_articles|count  else 'Archives (' + all_articles|count|string + ')'}}</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
{% for article in articles_page.object_list %}
<article class="post">
	<div class="blog-item-wrap">
		<div class="post-inner-content">
			<header class="entry-header page-header">
				<span class="cat-item"><time datetime="{{ article.date }}">{{ article.locale_date }}</time></span>
				<h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
			</header><!-- .entry-header -->
			<div class="entry-content">
				{{ article.summary|striptags }}
        	</div><!-- .entry-content -->
		</div>
	</div>
</article><!-- #post-## -->
{% if not loop.last %}
{% endif %}
{% endfor %}
{% endblock %}

{% block footer %}
{% if articles_paginator.num_pages > 1 %}
  <footer>
    {% include "modules/pagination.html" %}
  </footer>
{% endif %}
<div class="article_meta"></div>
{% endblock %}
